@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf);
    font-weight: normal;
}


:root{
    --cor00:#ebe5c5;
    --cor01:#83e1ad;
    --cor02:#3ddC84;
    --cor03:#2fa866;
    --cor04:#1a5c37;
    --cor05:#063d1e;

    --fontepadrao:Arial,Helvetica,Verdana,sans-serif;
    --fonte-destaque:'Bebas Neue',cursive;
    --fonte-android:'idroid',cursive;
}

*{
    margin: 0px;
    padding: 0px;   
}

.extern::after{
    content:'🔗';
    font-size: 0.8em;
}

body{
    background-color:var(--cor01);
    font-family: var(--fontepadrao);

}

header{
    background-image: linear-gradient(to bottom,var(--cor03), var(--cor05) );
    text-align: center;
    padding-top: 40px;
    min-height: 150px;
    
}

header > h1{
    color: white;
    font-family:var(--fonte-destaque);
    font-weight: 400;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.281);
    font-weight: normal;
    
}

aside abbr {
    text-decoration: none;
}

header > p{
    color: white;
    font-family: var(--fontepadrao);
    font-size: 1.2em;
    margin: auto; 
    max-width: 600px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.363);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
   
}

nav{
    background-color: var(--cor05);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.199);
    text-align: left;
  
}

menu > a{
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    color: white;
    border-radius: 5px;
}

menu > a:hover {
    color:var(--cor05);
    background-color: var(--cor03);

}

main{
    min-width: 300px;
    max-width: 800px;
    background-color: white;
    margin: auto;
    padding: 10px;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.452);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1{
    color:var(--cor05) ;
    font-size: 1.8em;
    font-family: var(--fonte-android);
    font-weight: normal;
}

main h2{
    font-weight: normal;
    font-family: var(--fonte-android);
    color:var(--cor04);
    background-image: linear-gradient(to right, var(--cor02),rgba(255, 255, 255, 0));
    font-size:1.3em;
    text-indent:8px;
}

main img{
    width:100%;
}

div.video{
    background-color: rgba(255, 255, 255, 0);
    padding:20px 20px 39% 20px;
    position: relative;
    margin-bottom: 40px;
    height:"315";
    width: "560";

}   

div.video > iframe{
    position:absolute ;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.315);
    width: 73%;
    height:100%;
    left: 100px ;
}


main p{
    margin: 15px 0px;
    text-indent: 30px;
    text-align: justify;
    line-height: 2em;
    font-size: 1em;
}

main strong{
    color:var(--cor04);
    font-weight: bold;
}

main a{
    text-decoration: none;
    font-weight: bold;
    color:var(--cor05);
    background-color: var(--cor02);
    padding:2px 6px;
}

.imagem-pequena{
    margin: auto;
    display: block;
    max-width: 350px;
}
aside{
    background-color: var(--cor01);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.274);
}

aside > ul{
    list-style-type: '\2714\00A0';
    list-style-position: inside;
    columns:2;
}

aside > h3{
      color: white;
      background-color: var(--cor04);
      padding: 10px;
      margin: -10px -10px 0px -10px;
      border-radius: 10px 10px 0px 0px;
}

footer{
    color: white;
    background-color: var(--cor05);
    text-align: center;
    font-size: 0.8em;
    padding:5px;
}

footer a{
    font-weight: bolder;
    text-decoration: none;
    color: white;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor01);
}

